.intro{
   background-size: cover;
   width: 80%;
   height: 600px;
   margin-left: 150px;
   text-align: center;
   margin-top: 20px;
}
#logo {
    margin-top: 150px;
}
#h1 {
    color: white;
    margin-top: 20px;
}
#h2 {
    color: white;
    margin-top: 20px;
}
#p1 {
    color: white;
}
.about {
    text-align: center;
    margin-top: 80px;
    font-size: 15px;
}
.two {
    text-align: center;
    background-size: cover;
    width: 80%;
    height: 200px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
}
#p2 {
    color: white;
    margin-top: 20px;
}
#p3 {
    color: white;
}
#p4 {
    color: white;
}
#service {
    color: white;
    height: 30px;
    text-align: center;
}
#info {
    text-align: center;
    margin-top: 50px;
}
.hide1 {
    display: none;
}
.hide2 {
    display: none;
}
.hide3 {
    display: none;
}
.three {
    margin: 50px;
    margin-left: 200px;
    display: flex;
}
#port {
    text-align: center;
    margin-top: 60px;
}
.form {
    background-size: cover;
    text-align: center;
    width: 80%;
    height: 400px;
    margin-left: 150px;
    color: white;
    display: block;
}
#contact {
    margin-top: 50px;
}
.row2 {
    display: inline-block;
}
#name {
    background-color: transparent;
}
#email {
    background-color: transparent;
}
#message {
    background-color: transparent;
}
#sub {
    background-color: transparent;
}
.media {
    position: absolute;
    left: 28%;
    margin: 10px;
    padding: 10px;
}
li {
    list-style: none;
    margin: 10px 10px;
    display: inline-block;
    text-align: center;
}
.text {
    text-align: center;
    padding-top: 85px;
    margin: 10px;
}
#mouse-click{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 30px; 
  }
  #mouse-click {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
}

